body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.whatsapp-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25D366; /* WhatsApp green */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 20px; /* Adjust as needed */
    margin-top: 10px; /* Adjust as needed */
}

.whatsapp-button:hover {
    background-color: #128C7E; /* Darker shade of WhatsApp green */
}

#faq-section {
    padding: 20px;
}

#ask-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#ask-section h2 {
    margin-top: 0;
}

form {
    margin-top: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
